body  {
  background-color: #ebebeb ;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0 50px 0px;
  text-align: right;
  font-family: montserrat;
}

.banner h1 {
  padding-top: 50px;
  margin: 0;
  color: #fcf7f8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 22px;
  color: #fcf7f8;
  opacity: .7;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  padding-bottom: 30px;
  font-weight: lighter;  
 }

.btn-flat {
  color: #343633;
  padding: 6px 18px;
  border-radius: 8px;
  background: #f5f5f5;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 3px
}

.btn-flat:hover {
  background: #69A297;
  color: #f4f4f4;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
 }

.titulo {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.titulo p {
  background: #343633;
  font-size: 17px;
  font-weight: lighter;
  margin: 0;
  border: 0;
  padding: 8px;
  color: white;
  font-family: montserrat;
  width: 100%
}

.separador {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.separador p {
  background: #343633;
  font-size: 17px;
  font-weight: lighter;
  margin: 0;
  border: 0;
  padding: 8px;
  color: white;
  font-family: montserrat;
  width: 100%
}

.btn-ghost {
  color: #343633;
  height: 30px;
  width: 30px;
  border: 2px solid #4A4A4A;
  padding: 2px 0px;
  border-radius: 30px;
  font-weight: bolder;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background: #9C7178;
}

.row  {
  display: flex;
  justify-content: space-between;
}

.row p {
  font-size: 13px;
  padding: 5px 0px 5px 0px;
}

.contact-form {
  font-family: montserrat;
  padding: 50px 120px;

}

.footer {
  background: #343633;
  font-family: raleway;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #f4f4f4;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #f4f4f4;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-copyright p {
  color: #6D6F6D
}

.footer-links a:hover {
  opacity: 1;
}
