.separador {
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  }
  
  .separador p {
    background: #343633;
    font-size: 17px;
    font-weight: lighter;
    margin: 0;
    border: 0;
    padding: 8px;
    color: white;
    font-family: montserrat;
    width: 100%
  }